@font-face {
    font-family: frase;
    src: url(../../font/comparativa/BladeRunner/BLADRMF_.TTF);
}

body{
    background-image: url(../../img/comparativa/bladerunner/background.jpg);
    background-size: cover;
    background-repeat: initial;
    margin: 0;
}


h1 {
    text-align: center;
    background-image: linear-gradient(rgb(47, 47, 235), rgb(255, 102, 0));
    color: rgb(255, 255, 255);
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    font-family: frase;
}

.title {
    color: rgb(0, 0, 0);
    font-family: frase;
    font-size: 40px;

}

.trailer {
    color: rgb(0, 0, 0);
    font-family: frase;
    font-size: 30px;
    padding-top: 10px;

}


.contenedor {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 60px;
    padding-bottom: 40px;
}

.contenedor>div {
    width: 50%;
    background-image: linear-gradient(to radial-gradient orange, blue);
    border-radius: 10%;
    border: 15px #e9d7d7;
    border-style: groove;
    background-color: #5557546b;
    border-radius: 90px;
    padding: 40px;
    margin: 40px;
    margin-right: 150px;
    margin-left: 150px;
    margin-inline-start: 30px;
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}

.contenedor>div:nth-child(1) {
    margin-right: 50px;
}

.bd {
    box-shadow: 0px 5px 10px 0px #000000;
    transition: all ease 0.5s;

}

.bd:hover {
    transform: translateY(-30px);
    box-shadow: 0px 5px 10px 0px #df7229;
    
    background-color: rgb(38, 24, 243);
}

.bd2 {
    box-shadow: 0px 5px 10px 0px #000000;
    transition: all ease 0.5s;

}

.bd2:hover {
    transform: translateY(-30px);
    box-shadow: 0px 5px 10px 0px #3e0eeb;
    background-color: rgb(230, 78, 8);

}

.yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yt {
    position: relative;
    padding-top: 50.25%;
    margin: 30px;
}


.bd2 {
    box-shadow: 0px 5px 10px 0px #000000;
    transition: all ease 0.5s;
}

.bd2 {
    transform: translateY(-20px);
    box-shadow: 0px 5px 10px 0px #e7ea45;
    background-color: rgba(239, 249, 173);

}

.bd1 {
    max-width: 70%;
    height: auto;
    padding-bottom: 2%;
}