*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    float: left;
    width: 100px;
    border: 2px solid black;
    border-radius: 50rem;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: auto;
    padding: .3em 0;
    background-color: #ffffff;
    z-index: 10000;
  }
  
  #nav-bar ul li{
      list-style: none;
      display: inline-block;
      margin: 0 1em;
      position: relative;
  }
  
  #nav-bar ul li a{
      text-decoration: none;
      color: #000000;
      text-transform: uppercase;
  }
  
  #nav-bar ul li::after{
      content: '';
      height: 3px;
      width: 0;
      background-color: rgb(226, 43, 43);
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: 0.5s;
  }
  
  #nav-bar ul li:hover::after{
      width: 100%;
  }
  
  .dropdown-menu{
    display: none;
  }

  .social-media{
      display: flex;
      justify-content: space-evenly;
      width: 15%;
  }

/*Background de la página*/
.background{
    background-color: lightblue;
    background-image: url(../../img/comparativa/ToyStory/toy-story-wallpaper.gif);
    height: 135vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/*Establecer un display flex para las dos películas*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135vh;
}
/*Si la página es mayor de 82 rem*/
@media(min-width: 82rem){
    /*Establecer título de la página*/
    .titulo{
        position: absolute;
        border: solid 5px black;
        background-color: lightblue;
        padding: 5px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*Establecer un grid dentro del flex para las dos imágenes*/
    .contenedor{
        display: grid;
        grid-template-columns: 750px 750px;
        grid-template-rows: 750px;
        margin: 0 auto;
    }
    /*Ajusta las imágenes para que se coloque en el medio*/
    .toystory{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Establecer la imágen de toy story 1 y un filtro de grayscale*/

    .toystory1{
        width: 100%;
        height: 100%;
        filter: grayscale(0);
        transition: .3s;
        background: url(../../img/comparativa/ToyStory/1.jpg);
        height: 500px;
        width: 400px;
        background-size: cover;
        background-position: center;
        border: solid 10px black;
        z-index: 1;
    }
    /*Al poner el cursor sobre la imágen cmabiara el filtro de grascale y aumentara su tamaño*/
    .toystory1:hover{
        filter: grayscale(0.4);
        transform:  scale(1.2) rotate(-4deg);
    }
    
    .toystory4{  
        width: 100%;
        height: 100%;
        filter: grayscale(0);
        transition: .3s;
    }
    
    .toystory4{
        background: url(../../img/comparativa/ToyStory/4.jpg);
        height: 500px;
        width: 400px;
        background-size: cover;
        background-position: center;
        border: solid 10px black;
        z-index: 1;
    }
    
    .toystory4:hover{
        filter: grayscale(0.4);
        transform:  scale(1.2) rotate(4deg);
    }

    /*La inicialización de la pequeña animación de las letras*/
.imagen__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.imagen__overlay:hover{
    opacity: 1;
}

.imagen__overlay:hover > *{
    transform: translateY(0);
}
/*Modificar el titulo de las frases*/
.imagen__titulo{
    font-size: 2em;
    font-weight: bold;
}
/*Modificar la descripción de las frases*/
.imagen__descripcion{
    background: rgb(235, 23, 23);
    font-size: 1.5em;
    margin-top: 0.25em;
    padding: 10px;
    text-align: center;
}

}
/*Si la página es menor de 82 rem*/
@media(max-width: 82rem){
    .titulo{
        position: absolute;
        border: solid 5px black;
        background-color: lightblue;
        padding: 5px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 650px;
        grid-template-rows: 450px 450px;
        margin: 0 auto;
    }
    
    .toystory{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .toystory1{  
        width: 100%;
        height: 100%;
        filter: grayscale(0);
        transition: .3s;
    }
    
    .toystory1{
        background: url(../../img/comparativa/ToyStory/1.jpg);
        height: 300px;
        width: 200px;
        background-size: cover;
        background-position: center;
        border: solid 10px black;
        z-index: 1;
    }
    
    .toystory1:hover{
        filter: grayscale(0.4);
        transform:  scale(1.2) rotate(-4deg);
    }
    
    .toystory4{  
        width: 100%;
        height: 100%;
        filter: grayscale(0);
        transition: .3s;
    }
    
    .toystory4{
        background: url(../../img/comparativa/ToyStory/4.jpg);
        height: 300px;
        width: 200px;
        background-size: cover;
        background-position: center;
        border: solid 10px black;
        z-index: 1;
    }
    
    .toystory4:hover{
        filter: grayscale(0.4);
        transform:  scale(1.2) rotate(4deg);
    }

    /*La inicialización de la pequeña animación de las letras*/
.imagen__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.imagen__overlay:hover{
    opacity: 1;
}

.imagen__overlay:hover > *{
    transform: translateY(0);
}
/*Modificar el titulo de las frases*/
.imagen__titulo{
    font-size: 1em;
    font-weight: bold;
}
/*Modificar la descripción de las frases*/
.imagen__descripcion{
    background: rgb(235, 23, 23);
    font-size: .7em;
    margin-top: 0.25em;
    padding: 12px;
    text-align: center;
}

}

/*Establece la mini animación al poner el cursor sobre las imágenes hover*/
.imagen__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

footer{
    position: absolute;
    border: solid 5px black;
    background-color: lightblue;
    padding: 10px;
    top: 1000px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  @media (max-width: 882px) 
{

  .aside{
    display: none;
  }
  #nav-bar{
    display: none;
  }
  
  .dropdown-menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: auto;
    padding: .3em 0;
    background-color: #ffffff;
    z-index: 10000;
  }

  .dropdown-menu button{
    background-color:#fff;
    color: #000000;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  .dropdown-menu a{
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
  }

  .dropdown-menu .menu-contenido{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
  }


  .dropdown-menu button:hover .menu-contenido{
  display: block;
  }

  .dropdown-menu a:hover{
    background-color: gray;
  }

}