* {
    box-sizing: border-box;
}

@font-face{
    font-family: HarryPotter;
    src:url(../../font/frase/HARRYP__.TTF);
}

@font-face{
    font-family: Dumbledor;
    src:url(../../font/frase/dum1.ttf);
}

@font-face{
    font-family: Lumos;
    src:url(../../font/frase/LUMOS.TTF);
}



/* ---- Barra 1 ---- */
header nav.barra1 {
   /* align-items: center;*/
    border-bottom: none;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0%;
    background-image: url(../../img/frase/HarryPotter/header-bg.jpg);
    overflow: hidden;
}


/* ---- Icono WB ---- */
header nav.barra1 .WB {
    /*align-items: center;*/
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

header nav.barra1 .WB .logo {
    align-items: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 0 6px;
    position: relative;
    transition: background-color .2s;
}

header nav.barra1 .WB .logo img {
    width: 21px;
}

header nav.barra1 .WB .logo img {
    height: auto;
    position: relative;
    width: 30px;
}

.language-selector {
    display: flex;                                             
    position: relative;
    margin-right:  1758px;
}

button#lenguaje {
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
    background-color: transparent;
    border-color: transparent;
    color:#fff4e2;
    font-size: 15px;
}

.idioma img {
    width: 30px; 
   /* height: 30px; */
    display: inline;
    margin-right: 0%;
    /*height: auto;*/
    margin-top: 20%;
}

button#lenguaje:hover {
    color: #efb810;
}



/* Redes */ 
/*
.redes {
    display: flex; 
    height: auto;
    width: 10px;
    align-items: center;
    height: 100%;
    overflow: hidden;
    padding: 0 6px;
    position: relative;
    margin-right: 90%;
}

.logoYou img{
    width: 40px; 
    display: inline;
    margin-right: 5%;
    margin-top: 20%;
}
*/

/* ---- Redes ---- */
.redes {
    display: inline;

    /*justify-content: flex-end;
    align-items: flex-start;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.logoYou, .logoTwi, .logoInst {
    display: flex;
    align-items: flex-start;
    margin-right: 100px; /* Ajusta el margen entre los logotipos */
    height: auto; /* Ajusta la altura de los logotipos */

}


/* ---- Segunda barrita ---- */
#segundaBarra.subpage {
    margin-top: 0;
}

.subpage {
    background: rgba(34,34,34,0.75);
    background-color: rgba(0,0,0,0.1);    
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
    min-height: 110px;
    /*padding: 100px 30px 120px;*/
    position: relative;
    float: left;
}

.subpage2 {
    background: rgba(34,34,34,0.75);
    background-color: rgba(0,0,0,0.1);    
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0px;
    min-height: 110px;
    /*padding: 100px 30px 120px;*/
    position: relative;
    float: right;
}

nav.ladoIzquierdo {
    left: 0;
}

nav.ladoIzquierdo img.fondoIzquierdo {
    left: 0;
    opacity: .2;
}

nav.ladoIzquierdo img.fondoIzquierdo {
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: .2;
}

img {
    border-style: none;
}

nav.ladoDerecho {
    right: 0;
}


nav.ladoDerecho img.fondoDerecho {
    right: 0;
    opacity: .2;

}

nav.ladoDerecho img.fondoDerecho {
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: .2;
}


/*--Menú con Desplegables--*/
nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    /*padding-left: 10%;*/
    background-color: transparent;
    font-family: 'Lumos';
    font-size: 25px;
    margin-top: 16%;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: rgba(225,182,93,255);
}

nav ul li a:hover{
    color: #ffffff;
}


/* Desplegables*/
nav ul li.desplegables:hover .submenu {
    display: block;
}

nav ul li .submenu {
    display: none;
    position: absolute;
    background-color: rgba(25,30,33,255);
    z-index: 1;
}

nav ul li .submenu li {
    display: block;
}

nav ul li .submenu li a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

/* ---- Barras doradas ---- */
.nav-bar.right {
    right: 0;
    width: 30%;
    float: right; 
    margin-top: 100px;
    
   
}

.nav-bar.left {
    left: 0;
    width: 30%;
    float: left;
    margin-top: -10px;
    
}

/* ---- Letras Harry Potter ---- */
.nav-bar.center {
    left: 0;
    width: 25%;
    margin-top: 30px;
    margin-right: 8%;
    float: right;
}

/* ---- Esquinas superiores ---- */
.esquinitaSuperiorIzquierda {
    left: 0;
    float: left;
    width: 10%;
    height: 10%;
    margin-top: 0;
    
}

section#esquinitaSuperiorDerecha img.esquinitaSuperiorDerecha {
    position: relative; 
    float: right; 
    width: 10%;
    height: 10%;
    margin-right: -63%; 
} 

/* ---- Body ---- */
body {
    background-image: url(../../img/frase/HarryPotter/FondoCentral.webp);
    color: #000000;
    font-family: sans-serif;  
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    text-align: left;
}
/* ---- Título ---- */
.partedearriba {
    width: 20%;
    height: 20%;
    margin-top: 0%;
    margin-left: 31%;
}

.textoTitulo{
    table-layout: auto;
    font-family: 'Dumbledor';
    font-style: normal;
    color: rgb(255, 255, 255);
    margin-left: 40%;
    font-size: 40px;
    height: 100%;
    margin-top: 0%;
}

.partedeabajo {
    width: 20%;
    height: 100%;
    margin-left: 41%;
}

/* ---- Foto Albus ----*/
.imagenAlbus{
    width: 280px; 
  height: 280px;
  border-radius: 50%; 
  overflow: hidden;
  margin-left: 70%;
  margin-top: 5.5%;
}

.circuloDorado {
    position: absolute; 
    left: 7.4%; 
    width: 40%; 
    height: auto;
    z-index: 1;
    margin-top: -1%;
    margin-left: 50%;
}

/* ---- Frase ----*/
.Texto{
    border-collapse: auto;
    font-family: 'Dumbledor';
    font-style: normal;
    background: transparent;
    opacity: 0,5;
    color: white;
    padding-left: 15%;
    padding-right: 7%;
    margin-right: 30%;
    margin-top: -12%;
    font-size: 20px;
}

th {
    text-transform: uppercase;
    font-size: 25px;
    padding: 2% 2%;
    margin-left: 40px;
    position: relative;
    background-color: transparent;
}

th::before, th::after {
    content: "";
    position: absolute;
}

th::before {
    top: -12px;
    bottom: -12px;
    left: -2px;
    width: 100%;
    border-top: 5px dashed rgb(233, 185, 87);
    border-bottom: 5px dashed rgb(233, 185, 87);
    z-index: 1;
}

th::after {
    top: -2px;
    bottom: -2px;
    right: -2px;
    width: 100%;
    border-left: 5px dotted rgba(225, 156, 18, 1);
    border-right: 5px dotted rgba(225, 156, 18, 1);
    z-index: 1;
}

/* ---- Audio ----*/

.audioDumbledore{
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 30%;
}

/* ----Footer (Esquinas inferiores)----*/
.esquinitaIzquierda{
    left: 0;
    float: left;
    width: 10%;
    height: 10%;
    margin-top: 0%;
    
}

.esquinitaDerecha{
    right: 0; 
    float: right; 
    width: 10%;
    height: 10%;
    margin-right: 0%; 
    margin-top: 0%;
    
}