body{
    background-image: url(../../img/escala/EscalaResidentEvil/fondoresidentevil.jpg);
    background-size:cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    text-align: center;
    color: rgb(255, 240, 240);
    padding: 50px;

}

.imglady{
    height: 200px;
    width: 100px;
    padding-left: 60px;
    
}

.imgkarl{
    height: 200px;
    width: 150px;
    padding-left: 15px;
    
}

.imgmrx{
    height: 200px;
    width: 200px;
    
}

.imgjack{
    height: 200px;
    width: 100px;
    padding-left: 50px;
}

.chart {
    margin: 10px;
    display: flex;
    align-items: center; 
}

.bardf {
    position: relative;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #de5b5b, #530202); /* Gradiante de color */
}

.bardm {
    position: relative;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #5071ba, #020a79); /* Gradiante de color */
}

.barv {
    position: relative;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #86d282, #046209); /* Gradiante de color */
}

.barr {
    position: relative;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #edd386, #876907); /* Gradiante de color */
}

.bar-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: white; /* Color del texto de la etiqueta */
}

.derecha {
    align-items: flex-end;
}


.pj {
    margin-left: 300px;
    margin-bottom: 70px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.nstats {
    color: aliceblue;
    padding-left: 10px;
    font-size: 35px;
}

footer {
    color: aliceblue;
    text-align: center;
    text-size-adjust: 100px;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}   

.grafica {
    border: 7px #ffffff;
    border-style: solid;
    background-color: #9ba09a6b;
    border-radius: 10px;
    padding: 40px;
    margin: 40px;
    margin-right: 150px;
    margin-left: 150px;
}